/* Coolors Exported Palette - coolors.co/d9f0ff-a3d5ff-83c9f4-6f73d2-7681b3 */

/* RGB */
$color0: rgba(51, 51, 51, 1);
$color1: rgba(217, 240, 255, 1);
$color2: rgba(163, 213, 255, 1);
$color3: rgba(85, 214, 190, 1);
$color4: rgba(111, 115, 210, 1);
$color5: rgba(118, 129, 179, 1);


body {
  color: $color0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: $color0;
  transition: color 200ms;
  &:visited {
    color: $color0;
  }
  &:hover {
    color: $color4;
  }
}

main {
  background-color: $color2;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

.intro {
  padding: 1em 3em;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  align-items: center;
  img {
    display: block;
    align-self: center;
    border-radius: 50%;
    border: 6px solid $color1;
    margin: 5px;
    max-width: 240px;
  }
  .name {
    margin: 10px;
    font-size: 4rem;
    font-weight: 700;
  }
  .title {
    color: $color0;
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 200ms;
    &:hover {
      cursor: pointer;
      color: $color4;
    }
  }
}

.links {
  font-size: 2.8rem;
  justify-content: center;
  margin: 20px;
  svg {
    margin: 0 10px;
  }
}

.chevron-down {
  margin: 50px 0 0 0;
  font-size: 2em;
}